nav {
  padding: 0 20px !important;
}

.navbar-links {
  margin-top: 20px;
}

#toogle {
  margin-top: 30px;
}

.home-content > p {
  text-align: center;
}

.products-container {
  margin: 40px 0;
}

.products-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

#products-card {
  display: inline-block;
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  /* height: 250px; */
}

#products-card img,
.product-image {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.modal-body > div {
  margin: 10px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.modal-body > div > span:nth-child(1) {
  font-size: 17px;
  font-weight: 500;
}

.modal-body > div > span:nth-child(2) {
  font-size: 14px;
  text-align: center;
}

.modal-body > div:nth-child(5) {
  display: block !important;
}

.modal-body > div:nth-child(5) > span:nth-child(1) {
  display: block !important;
  text-align: center;
}

.modal-body > div:nth-child(5) > span:nth-child(2) {
  margin-top: 20px;
  display: block;
  text-align: left;
}

.modal-body > div:nth-child(5) > span:nth-child(2) > ul li {
 width: max-content;
 margin-right: auto !important;
}

@media screen and (max-width: 900px) {
  .products-grid {
    grid-template-columns: 1fr 1fr;
  }
}
 
@media screen and (max-width: 500px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
}
