.modal-content {
  height: 450px;
}

nav {
  padding: 0 20px !important;
}

.navbar-links {
  margin-top: 20px;
}


.home-content > p {
  text-align: center;
}

.products-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

#products-card {
  display: inline-block;
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
}

#products-card img {
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 700px) {
  .products-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 400px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
}