* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: #fff;
}

#toogle {
  display: none;
}

.kenwood-place-logo {
  width: 120px;
  position: absolute;
  top: 0px;
}

.navbar-links {
  display: inline;
  list-style: none;
}

.navbar-links > li {
  display: inline-block;
  margin: 0 10px;
  font-size: 20px;
}

.navbar-links > li:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.navbar-links > li > a {
  text-decoration: none;
  color: dimgray;
  display: inline-block;
  position: relative;
}

.navbar-links > li > a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(108, 104, 104);
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}

.navbar-links > li > a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.home-content {
  margin-top: 90px;
}

.header-seg {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 20px 40px;
  background-color: dimgrey;
  color: #ffffff;
  justify-content: right;
  align-items: center;
}

.header-seg > span > h2 {
  margin-top: 40px;
  font-size: 30px;
}

.header-seg > span > div {
  display: inline-block;
  font-size: 20px;
  width: 70%;
  margin-top: 20px;
}

.header-seg > span > div > a {
  display: flex;
  background-color: #e5e5e5;
  width: 100px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: dimgray;
  padding: 5px;
  font-size: 17px;
}

.header-seg > span > div > a:hover {
  color: white;
  background-color: dimgray;
  border: 1px solid white;
  transition: all 0.5s ease-in-out;
}

.header-image-container > span > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.header-image-container {
  height: 230px;
  width: 230px;
  overflow: hidden;
  display: block;
}

.header-image-container > span {
  height: 230px;
  display: block;
  position: relative;
  top: 0;
  animation: slide-2 3s steps(2) infinite;
  background-color: dimgray;
}

@keyframes slide-2 {
  100% {
    top: -460px;
    margin: 0 0 0 0;
  }
}

/* .header-image-container > span {
  display: inline-block;
  width: 50%;
  border: 4px solid dimgray;
  border-radius: 50%;
  float: right;
}


.header-image-container > span:nth-child(1) {
  margin-top: 100px;
} */

.home-sub-seg {
  text-align: center;
  margin: 20px 20px;
  padding: 30px 10%;
}

.sub-heading {
  font-size: 27px;
  color: dimgray;
}

.home-sub-seg > div {
  padding: 20px 0;
  font-size: 18px;
}

.btn-container {
  color: white;
  background-color: dimgray;
  text-decoration: none;
  padding: 3px 12px;
  font-size: 20px;
}

.btn-container:hover {
  transition: all 0.5s ease-in-out;
  color: dimgray;
  background-color: white;
  border: 1px solid dimgray;
}

.contact-us-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-us-links > span > a {
  text-decoration: none;
  font-size: 20px;
  color: dimgray;
  margin: 10px 10px;
  border: 1px solid dimgray;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.contact-us-links > span > a:hover {
  transition: all 0.5s ease-in-out;
  background-color: dimgray;
  color: white;
}

.about-us-container {
  margin: 0 30px;
}

.about-us-container > span {
  color: dimgray;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.about-us-container > span > span:nth-child(1) {
  width: 600px;
}

.about-us-container > span > span:nth-child(2) {
  width: 400px;
  display: block !important;
}

.about-us-container > span > span:nth-child(2) > img {
  width: 100%;
  object-fit: cover;
}

.about-us-container > span > span > p {
  font-size: 30px;
  color: black;
  margin-top: 15px;
}

.middle-dot {
  font-size: 30px !important;
  color: rgba(83, 88, 56, 0.876) !important;
}
.abouts-us-contents {
  margin: 0 30px;
}

.abouts-us-contents > span:nth-child(odd) {
  display: block;
  width: 45%;
  margin-right: auto;
  margin-top: 50px;
}

.abouts-us-contents > span:nth-child(even) {
  display: block;
  width: 45%;
  margin-left: auto;
  margin-top: 50px;
}

.abouts-us-contents > span > p {
  font-size: 30px;
  color: dimgray;
  font-weight: 600;
}

.abouts-us-contents > span > div {
  margin: 20px 0;
  font-size: 18px;
}
.our-values > div:nth-child(1) {
  margin-top: 50px;
  margin-right: auto;
  width: 50%;
}

.our-values > div > p {
  font-size: 30px;
  color: dimgray;
  font-weight: 600;
}

.our-values > div > div {
  margin-top: 20px;
  font-size: 25px;
}

.values-grid  {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 70px 30px;

  grid-template-rows: auto;

}

@media all and (max-width: 600px) {
  #toogle {
    position: absolute;
    right: 0;
    width: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
  }

  #toogle::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 28px;
    background-color: dimgray;
    transform: translateY(-5px);
    transition: 0.2s;
  }

  #toogle::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 28px;
    background-color: dimgray;
    transform: translateY(5px);
    transition: 1s;
  }

  #toogle.active::before {
    transform: translateY(0px) rotate(45deg);
  }

  #toogle.active::after {
    transform: translateY(0px) rotate(-45deg);
  }

  .kenwood-place-logo {
    width: 80px;
    position: absolute;
    top: 0px;
  }

  #navbar-links.active {
    transition: all 1.7s ease-in;
    margin-top: 0 !important;
    padding-top: 40px;
  }

  #navbar-links {
    margin-top: -100%;
    color: dimgray;
    display: block;
    width: 100%;
  }

  #navbar-links > li {
    display: block;
    margin: 0;
    padding: 10px 0;
    font-size: 20px;
    text-align: center;
  }

  .home-content {
    margin-top: 60px;
  }

  .header-seg {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }

  .header-seg > span > div {
    width: 100%;
  }

  .header-image-container {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
}
